/*UTILITIES*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 1.25rem;
  font: inherit;
  font-family: 'Montserrat', sans-serif;
}

.margin{
  margin: 2rem 4rem;
}

.section-header{
  margin-bottom: 2rem;
}

img {
  width: 100%;

  display: block;
  border-radius: 10px;
}

.button{
  display: flex;
  padding: 1.5rem;
  background-color:#202020;
  color: white;
  text-decoration: none;
  text-align: center;
  border-radius: 10px;
  width:fit-content;
}


html {
  height: 100%;
}
body {
  min-height: 100%;
}

/*FONTS AND FONT SIZE*/

h1 {font-size: 3rem;
  font-weight: bold;}
  
  h2 {font-size: 2rem;
    font-weight: bold;}
  
  h3 {font-size: 1.75rem;}
  
  p, li {font-size: 1.5rem;}

/*NAVIGATION*/
  .logo{
    font-size: 1.5rem;
    font-weight: bold;
    padding: 2rem 0;
    margin-left: 4rem;
    text-align: left;
    line-height: 1;
    color: white;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
  }

  .nav-links {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;;
    width: 100%;
  }
  
  .primary-navigation {
    display:none;
  }
  
  .primary-navigation ul {
    background-color: #202020;
    list-style: none;
    position: absolute;
    text-align: center;
    left: 0;
    top: 100%;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding-top: 2rem;
  }
  
  .primary-navigation ul a {
    font-size: 1.25rem;
    padding:  0;
    display: block;
    color: white;
    text-decoration: none;
  }
  
  .primary-navigation ul a:hover, .primary-navigation ul a:active {
   opacity: 0.7;
  }
  
  /*NAVIGATION TOGGLE*/
  
  .nav-toggle {
    display: none ;
  }
  
  .nav-toggle:checked ~ .primary-navigation {
    display: block;
  }
  
  .nav-toggle-label {
    margin: 1rem 2rem;
  }
  
  .nav-toggle-label span, .nav-toggle-label span::before, .nav-toggle-label span::after {
    background: white;
    display: flex;
    height: 2px;
    width: 1.5em;
    border-radius: 2px;
    position: sticky;
  }
  
  .nav-toggle-label span::before, .nav-toggle-label span::after{
    content: '';
    position: absolute;
  }
  
  .nav-toggle-label span::before {
    bottom: 7px;
  }
  
  .nav-toggle-label span::after{
    top: 7px;
  }

  /*HERO SECTION*/

  .hero-section {
    background-image: url("../Images/holding-a-heart.jpg");
    background-color:rgb(49, 48, 48);
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    background-blend-mode: multiply;
    color: white;
  }

  .hero-section-text{
    padding: 10rem 4rem 15rem 4rem;
  }

  .hero-section-text>*{
    padding-bottom: 1rem;
  }
  
  .subtitle {
    font-size: 1.5rem;
    margin-top: 0.5rem;
  }


/*FEATURED ORGANIZATIONS*/

  .featured-organizations{
    margin: 6rem 4rem;
  }


  .featured-organizations-list{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 1.5rem;
    align-items: stretch
  }

  .featured-title{
    font-size: 1.5rem;
    font-weight: bold;
  }

  .featured{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    background-color: #E4E0E1;
    padding: 1rem;
    border-radius: 10px;
    min-width: 250px;
    gap: 1rem;
  }


  .featured p{
    margin-bottom: auto;
  }

  .featured img{
    height: 250px;
    object-fit: cover;
  }

  .featured, .featured:active, .featured:visited{
    text-decoration: none;
    color: black;
  }

  .contact{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin: 6rem 4rem;
  }

  .contact-text {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  footer{
    margin:  4rem 0;
    padding: 4rem;
    background-color: #202020;
    color: white;
  }

  footer>*{
    margin-bottom: 1rem;
  }

  .footer-p{
    color: grey;
  }

@media screen and (min-width: 750px){

  .primary-navigation {
    display: block;
  }

  .primary-navigation ul {
    all:unset;
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin-right: 5rem;
    list-style: none;
  }

  .primary-navigation ul a {
    font-size: 1.5rem;
    padding:  0;
    display: block;
    color: white;
    text-decoration: none;
  }

  .nav-toggle-label {
    display: none;
  }

  .logo {
    font-size: 1.5rem;
  }

  .featured-organizations-list{
    display: grid;
    grid-template-columns: repeat(2,1fr);
  }

  .contact{
    margin-top: 10rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: 1 1 0;

  }

  .contact-content p{
    max-width: 85%;
  }

  .featured img{
    height: 300px;
  }

}

@media screen and (min-width: 1200px){
  .featured-organizations-list{
    grid-template-columns: repeat(3,1fr);
  }
}
